@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,800&display=swap');
$primary-color: #30649C;
$primary-color-dark: #13283E;
$primary-color-light: #6397CF;
$text-color: #0D1B2A;
